div.field-ui-extras-manage-fields-label span.required {
  color: #ff0000;
  font-size: 0.9em;
  margin-left: 10px;
}

div.field-ui-extras-manage-fields-machine-name span.machine-name {
  padding: 4px;
  font-family: monospace;
  background: #eee;
  font-size: 1.3em;
}

div.field-ui-extras-manage-fields-machine-name div.info-wrapper {
  color: #000000;
  font-size: 0.9em;
  border-left: 1px solid #cccccc;
  padding-left: 7px;
}

div.field-ui-extras-manage-fields-machine-name div.info-wrapper span.label {
  font-weight: bold;
}

div.field-ui-extras-manage-fields-machine-name em {
  color: #000000;
  font-weight: normal;
}

div.field-ui-extras-manage-fields-machine-name .warning {
  color: #ff0000;
}

div.field-ui-extras-manage-fields-machine-name ul.main {
  margin: 8px 0 0 -40px;
  list-style-type: none;
}

div.field-ui-extras-manage-fields-machine-name ul {
  margin: 0 0 0 -15px;
}